
<mat-tab-group mat-align-tabs="start">
    <mat-tab label="Production">
        <div class="container">
            <button mat-fab class="med-button">
                <img class="antivirus" src="assets/svg/antivirus.svg" alt="Pandemic_Logo">
            </button>
        </div>
    </mat-tab>
    <mat-tab label="Research">
        <mat-list>
            <mat-list-item><button>Parasetamol<div class="progress"></div></button></mat-list-item>
            <mat-list-item><button>Anti-biotics<div class="progress"></div></button></mat-list-item>
            <mat-list-item><button>Histomine<div class="progress"></div></button></mat-list-item>
        </mat-list>
    </mat-tab>
</mat-tab-group>