<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false" position="end"
      [ngClass]="{hidden: !(isHandset$ | async)}"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="drawer.toggle()" href="#" routerLink="/">Home</a>
      <a *ngIf="authService.loggedIn()" mat-list-item (click)="drawer.toggle()" href="#" routerLink="/game">Game</a>
      <a *ngIf="authService.loggedIn() && authService.isAdmin()" mat-list-item (click)="drawer.toggle()" href="#" routerLink="/admin">Admin</a>
      <a *ngIf="authService.loggedIn()" mat-list-item (click)="drawer.toggle()" href="#" routerLink="/details">Details</a>
      <a *ngIf="!authService.loggedIn()" mat-list-item (click)="drawer.toggle()" href="#" routerLink="/login">Login</a>
      <a *ngIf="authService.loggedIn()" mat-list-item (click)="drawer.toggle()" href="#" routerLink="/" (click)="authService.logout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <mat-toolbar color="primary">
      <span class="logo-container">
        <a class="nav-button" mat-flat-button color="primary" href="#" routerLink="/">
          <img class="pandemic-logo" src="assets/svg/logoSmall.svg" alt="Pandemic_Logo">{{title}}
        </a></span>
      <span class="spacer"></span>
      <span class="nav-list" *ngIf="!(isHandset$ | async)">
        <a class="nav-button" mat-flat-button color="primary" href="#" routerLink="/" >Home</a>
        <a *ngIf="authService.loggedIn()" class="nav-button" mat-flat-button color="primary" href="#" routerLink="/game">Game</a>
        <a *ngIf="authService.loggedIn() && authService.isAdmin()" class="nav-button" mat-flat-button color="primary" href="#" routerLink="/admin">Admin</a>
        <a *ngIf="authService.loggedIn()" class="nav-button" mat-flat-button color="primary" href="#" routerLink="/details">Details</a>
        <a *ngIf="!authService.loggedIn()" class="nav-button" mat-flat-button color="primary" href="#" routerLink="/login">login</a>
        <a *ngIf="authService.loggedIn()" class="nav-button" mat-flat-button color="primary" href="#"  routerLink="/" (click)="authService.logout()">logout</a>
      </span>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>
    <ng-content class="content"></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

