<!-- <kendo-chart>
    <kendo-chart-title text="Units sold"></kendo-chart-title>
    <kendo-chart-category-axis>
        <kendo-chart-category-axis-item
            [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
            [title]="chartTitle">
        </kendo-chart-category-axis-item>
    </kendo-chart-category-axis>
    <kendo-chart-series>
      <kendo-chart-series-item *ngFor="let l of lines; index as i" [name]="l.name" type="line" [data]="l.data">
      </kendo-chart-series-item>
    </kendo-chart-series>
</kendo-chart> -->

<div class="container">
    <mat-card class="detail-card">
        <mat-card-title>
            <h1>Details</h1>
        </mat-card-title>
        <mat-card-content>
            <b>User id</b>
            <p>{{userData?.id}}</p>
            <b>Username</b><br>
            <p>{{userData?.username}}</p>
            <b>Balance</b><br>
            <p>{{userData?.balance}}</p>
            <b>Manufacture</b><br>
            <p>{{userData?.manufacture}}</p>  
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button color="primary" routerLink='/settings'>Settings</button>
        </mat-card-actions>
    </mat-card>
</div>
