.signup-container{
    display: flex;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    margin: auto;
    padding: 10%;
    justify-content: center;
    align-items: center;
}
.signup-card{
    flex: 0;
}
.signup-form{
    font-size: large;
    //background: #0062cc;
}
