<header class="header-background">
    <div class="header-section">
        <div class="header-container">
            <h1 class="mat-h1">Welcome to {{title}}</h1><br>
            <p>A world hit by decease where your search for a cure!</p>
            <a mat-flat-button href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> Download Pandemic-Clicker</a>
        </div>    
    </div>
</header>

<div class="content-container">
   <div class="info">
       <p class="mat-title">Research</p>
       <p class="body">
           Using acquired capital one can further reseach and hire researchers.<br>
           Researchers can make research faster or get extra bonuses.
        </p>
   </div>
</div>

<div class="content-container">
    <mat-card class="play-card">
        <mat-card-content>
            <p>You've clicked <span (click)="countClick()"><b>this</b></span> {{clickCounter}} times.</p>
            <button mat-flat-button color="primary" class="button" (click)="resetCount()">reset</button>
        </mat-card-content>
    </mat-card>
    <mat-card class="play-card">
        <mat-card-content>
            <input type="text" [(ngModel)] = "name">
            <br>
            <strong> You said: </strong> {{name}}
        </mat-card-content>
    </mat-card>
    <mat-card class="activity-card play-card" [ngClass]="setClasses()">
        <mat-card-content >
            <ng-template [ngIf]="clickCounter > 20" >
                <p>Powerfull!</p>
            </ng-template>
            <ng-template [ngIf]="clickCounter > 10 && clickCounter <= 20">
                <p>Strong</p>
            </ng-template>
            <ng-template [ngIf]="clickCounter <= 10">
                <p>Good</p>
            </ng-template>
        </mat-card-content>
    </mat-card>
</div>