.header-section{
    text-align: center;
    padding-top: 60px;
    padding-bottom: 40px ;
}
.header-container{
    color: #ffffff;
}
.mat-h1{
    font: 400 24px/32px Roboto,Helvetica Neue,sans-serif;
    letter-spacing: normal;
    margin: 0 0 16px;
    font-size: 56px;
    font-weight: 300;
    line-height: 56px;
    margin: 15px 5px;
}
.content-container{
    padding-top: 10px;
    padding-bottom: 20px;
}

.legend{
    color: orange
}
.common{
    color: gray;
}